@keyframes deal {
    from {
      opacity: 0;
      transform: translateY(-20px) rotate(-5deg);
    }
    to {
      opacity: 1;
      transform: translateY(0) rotate(0);
    }
  }
  
  .dealer-hand {
    display: flex;
    flex-direction: row;
    gap: 2px;
  }
  
  .dealer-hand .card {
    margin-left: -20px;      
    opacity: 0;
    animation: deal 0.4s ease forwards;
  }
  
  /* Make first card not shift left */
  .dealer-hand .card:first-child {
    margin-left: 0;
  }
  
  .player-hand {
    display: flex;
    flex-direction: row;
    gap: 2px;
  }
  
  .player-hand .card {
    opacity: 0;
    animation: deal 0.4s ease forwards;
  }
  

  .dealer-hand .card:nth-child(1),
  .player-hand .card:nth-child(1) {
    animation-delay: 0s;
  }
  
  .dealer-hand .card:nth-child(2),
  .player-hand .card:nth-child(2) {
    animation-delay: 0.2s;
  }
  
  .dealer-hand .card:nth-child(3),
  .player-hand .card:nth-child(3) {
    animation-delay: 0.4s;
  }
  
  .dealer-hand .card:nth-child(4),
  .player-hand .card:nth-child(4) {
    animation-delay: 0.6s;
  }
  
  .dealer-hand .card:nth-child(5),
  .player-hand .card:nth-child(5) {
    animation-delay: 1s;
  }
  
  /* extend more nth-childs if you expect more cards */